@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f8fdcf;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 58px;
  font-weight: 800;
  font-family: "Pacifico", cursive;
  color: #78c1f3;
  text-shadow: 2px 4px 0 black;
}
